<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Male:</strong>
  <%= @user.male %>
</p>

<p>
  <strong>Bed:</strong>
  <%= @user.bed %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
