<%= simple_form_for(@simplefrom) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :year %>
   	<%= f.input :remember_me,     as: :radio_buttons %>
   	<%= f.collection_select(:role_id,  Role.all, :id, :name) %>

  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
